<style>
    .footer {
        position: relative;
        bottom: 0;
        
    }
</style>
<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-linght">Todos los derechos reservador @ Jorge Luis Zamudio Osuna</span>
        </div>
    </footer>
</center>